* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 45px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  background-color: red;
}

header span#a {
  color: yellow;
}

header span#b {
  color: skyblue;
}

header span#c {
  color: pink;
}

footer {
  max-width: 900px;
  margin: 0 auto;
}

footer section {
  display: flex;
}

footer section div {
  flex-grow: 1;
  height: 60px;
  border: 1px solid black;
  padding-left: 3px;
  padding-top: 3px;
}

footer section span {
  display: block;
}


 #minus span:nth-child(1) {
  line-height: 1px;
  margin-bottom: 15px;
}

#backspace-key,
#enter-key,
#right-shift {
  text-align: right;
}

.key-width1 {
  flex-basis: 80px;
}

.key-width2 {
  flex-basis: 100px;
}

.key-width3 {
  flex-basis: 150px;
}

.key-width1,
.key-width2,
.key-width3 {
  padding: 20px 5px;
}

